		.w80{width:80%;}
		.cream{background-color:#FAEBD7;}
		.sline{white-space:nowrap; display:inline-block;}
		.textstyle{padding-top:30px; font-size:24px}
		.admin_content{overflow-x:scroll; width:100%}
		.smalltext{font-size:16px;}		